@import 'tailwindcss';

@font-face {
  font-family: 'IntegralCF';
  src: url('/fonts/IntegralCF-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'Satoshi-Regular';
  src: url('/fonts/Satoshi-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Satoshi-Medium';
  src: url('/fonts/Satoshi-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Satoshi-Bold';
  src: url('/fonts/Satoshi-Bold.woff') format('woff');
}

.title {
  font-family: 'IntegralCF';
}

.font-accent {
  font-family: 'Satoshi-Medium';
}
.subtitle {
  font-family: 'Satoshi-Bold';
}

ul {
  list-style: none;
}

a,
button {
  cursor: pointer;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button,
input[type='submit'] {
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}
button:active,
button:focus,
input:focus {
  outline: none !important;
}

:root {
  font-family: 'Satoshi-Regular', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
a:visited {
  text-decoration: none;
  transition: all 0.1s ease-in;
}

.logo-text {
  font-family: 'IntegralCF';
}
.logo-text:hover {
  opacity: 1;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.swiper-slide {
  width: auto !important;
  transition:
    transform 0.36s ease,
    filter 0.36s ease;
}

.swiper-slide-active,
.swiper-slide-prev,
.swiper-slide-next {
  filter: none !important;
  transform: translateY(0) scale(1);
  z-index: 20;
}

.reviews
  .swiper-slide-visible:not(.swiper-slide-active):not(.swiper-slide-prev):not(
    .swiper-slide-next
  ):not(.edge-visible) {
  filter: blur(4px);
  transform: scale(0.985);
  z-index: 5;
}

@media (min-width: 1700px) {
  .reviews .swiper .swiper-wrapper > .swiper-slide.edge-visible {
    filter: none !important;
    transform: none !important;
    opacity: 1 !important;
    z-index: 10;
  }
}

.reviews .swiper-wrapper {
  align-items: stretch;
}

.reviews .swiper-slide {
  display: flex;
  height: auto;
}

.reviews .swiper {
  height: auto;
}
.reviews .swiper-wrapper {
  align-items: stretch;
}
.reviews .swiper-slide {
  display: flex;
  height: auto !important;
}
